@use './abstracts/index' as abs;
@use './abstracts/index' as *;
@use './vendors/vendors' as *;
@use './base/index' as *;
@use './components/index' as *;
@use './layout/index' as *;
@use './pages/index' as *;
@use './themes/index' as *;
@use './settings' as *;



body {
    background-color: rgba(252, 250, 249, 1);
    position: relative;
}
.location {
    background-color: rgba(252, 250, 249, 1);
    position: relative;
    &::after {
        display: none;
    }
    margin: 0;
    padding: 0; 

}







