@use './abstracts/index' as abs;
@use './abstracts/index' as *;
@use './vendors/vendors' as *;
@use './base/index' as *;
@use './components/index' as *;
@use './layout/index' as *;
@use './pages/index' as *;
@use './themes/index' as *;
@use './settings' as *;



body {
    background-color: rgba(252, 250, 249, 1);
    position: relative;
<<<<<<< HEAD
=======
    @include abs.breakpoint(desktop) {
        padding-right: 164px;
        padding-left: 165px;
        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: 0;
            width: 31.27vw;
            height: 903px;
            background-color: abs.$black-color;
            z-index: 1;
        }
    }
>>>>>>> ab2f62bcb6a2e85fb0002206e5234ea63d33af06
}
.location {
    background-color: rgba(252, 250, 249, 1);
    position: relative;
    &::after {
        display: none;
    }
    margin: 0;
    padding: 0; 

}







