$outfit-font: "Outfit", sans-serif;
$bigshoulders-font: "Big Shoulders", sans-serif;
$p-color: rgba(68, 68, 68, 1);
$black-color: rgba(21, 21, 21, 1);
$white-color: rgba(255, 255, 255, 1);
$gold-color: rgba(213, 150, 108, 1);