@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  min-height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #FCFAF9;
  line-height: 1.5;
  overflow-x: hidden;
  height: auto;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.footer {
  background-color: rgb(21, 21, 21);
  padding: 4rem 1.5rem;
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer {
    padding: 5rem 2.2rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .footer {
    padding: 6rem 9rem;
  }
}
.footer__design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer__design {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .footer__design {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}
.footer__design__logo {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__design__logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 13.4rem;
  max-width: 15rem;
  height: auto;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .footer__design__logo img {
    width: 15rem;
  }
}
.footer__design p {
  font-family: "Outfit", sans-serif;
  text-align: left;
  font-size: 16px;
  line-height: 26px;
  font-weight: 200;
  max-width: 350px;
  color: rgb(255, 255, 255);
  margin-top: 1.5rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer__design p {
    font-weight: 400;
    margin-top: 0;
    max-width: 275px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .footer__design p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 0;
    max-width: 460px;
  }
}
.footer__design-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 1.5rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer__design-logos {
    gap: 2rem;
    margin-top: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 4rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .footer__design-logos {
    gap: 2rem;
    margin-top: 0;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
}
.footer__design-logos a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-top: 1.5rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer__design-logos a {
    margin-top: 0;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .footer__design-logos a {
    margin-top: 0;
  }
}
.footer__design-logos a img {
  width: 1.5rem;
  height: auto;
}

.footer__location {
  background-color: rgb(213, 150, 108);
  padding: 4rem 2rem;
  width: 100%;
  height: auto;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer__location {
    padding: 5rem 2.2rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .footer__location {
    padding: 6rem 14rem;
  }
}
.footer__location-design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2.5rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer__location-design {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .footer__location-design {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    gap: 4rem;
  }
}
.footer__location-logo {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__location-logo img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
      align-self: flex-start;
  width: 8.4rem;
  max-width: 15rem;
  height: auto;
  -webkit-filter: invert(100%);
          filter: invert(100%);
  height: auto;
}
.footer__location p {
  font-family: "Outfit", sans-serif;
  text-align: left;
  font-size: 20px;
  line-height: 26px;
  font-weight: 200;
  max-width: 350px;
  color: rgb(21, 21, 21);
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer__location p {
    font-weight: 300;
    margin-top: 0;
    margin-right: 3rem;
    max-width: 350px;
  }
}
.footer__location-logos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  gap: 1.5rem;
}
.footer__location-logos a {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
}
.footer__location-logos a img {
  width: 1.5rem;
  height: auto;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}
@media (max-width: 1024px) and (min-width: 768px) {
  .footer__location-logos a img {
    max-width: 5rem;
  }
}

.header {
  background-color: rgb(255, 255, 255);
  padding: 0rem 0rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 1;
  position: relative;
  overflow: visible;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .header__container {
    display: grid;
    grid-template-columns: repeat(13, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    position: relative;
    position: relative;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .header__container {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    min-height: 20vh;
    padding-right: 5rem;
    background: -webkit-gradient(linear, left top, right top, color-stop(33.33%, rgb(21, 21, 21)), color-stop(33.34%, rgb(255, 255, 255)));
    background: linear-gradient(to right, rgb(21, 21, 21) 33.33%, rgb(255, 255, 255) 33.34%);
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .header picture {
    grid-column: 1/9;
    grid-row: 1;
    z-index: 1;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .header picture {
    grid-column: 5/10;
    grid-row: 1/2;
    z-index: 1;
    height: 100%;
  }
}
.header picture img {
  width: 100%;
  height: auto;
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__info {
  margin-top: 2rem;
  margin-left: 1rem;
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .header__info {
    grid-row: 1;
    margin-top: 0;
    margin-left: 0;
    grid-column: 8/14;
    z-index: 2;
    padding-left: 1.5rem;
    padding-bottom: 1rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .header__info {
    grid-column: 9/13;
    grid-row: 1;
    z-index: 3;
    align-self: center;
    margin: 0;
  }
}
.header__info .logo {
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  z-index: 20;
  margin-bottom: 2rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .header__info .logo {
    position: static;
    -webkit-transform: none;
            transform: none;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .header__info .logo {
    position: absolute;
    top: 20%;
    left: 10%;
    -webkit-transform: translateY(22%);
            transform: translateY(22%);
    margin-bottom: 0;
  }
}
.header__info .logo img {
  -webkit-filter: invert(100%);
          filter: invert(100%);
  width: 15.4rem;
  height: auto;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .header__info .logo img {
    width: 20rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .header__info .logo img {
    width: 23rem;
    -webkit-filter: none;
            filter: none;
  }
}
.header__info p {
  font-family: "Outfit", sans-serif;
  font-size: 18px;
  color: rgb(68, 68, 68);
  line-height: 28px;
  margin-top: 1.8rem;
  max-width: 350px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .header__info p {
    font-size: 18px;
    line-height: 28px;
    font-weight: 400;
    margin-top: 4rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .header__info p {
    font-size: 22px;
    line-height: 32px;
    font-weight: 400;
    margin-top: 0;
    margin-left: 10%;
  }
}
.header__button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  margin-top: 1.8rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .header__button {
    margin-top: 4rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .header__button {
    margin-top: 20%;
    margin-left: 10%;
  }
}
.header__button-text {
  background-color: rgb(21, 21, 21);
  color: rgb(255, 255, 255);
  font-family: "Outfit", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  letter-spacing: 3.6px;
  padding: 1.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .header__button-text {
    padding: 1.5rem 2.5rem;
    font-size: 1rem;
  }
}
.header__button-icon {
  background-color: rgb(213, 150, 108);
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.header__button-icon img {
  width: 10px;
  height: auto;
  -webkit-transition: -webkit-filter 0.7s ease;
  transition: -webkit-filter 0.7s ease;
  transition: filter 0.7s ease;
  transition: filter 0.7s ease, -webkit-filter 0.7s ease;
  -webkit-filter: brightness(0) invert(1);
          filter: brightness(0) invert(1);
}
.header__button:hover .header__button-text {
  background-color: rgb(213, 150, 108);
}
.header__button:hover .header__button-icon {
  background-color: rgb(21, 21, 21);
}

.hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  padding: 8rem 1rem;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero {
    padding: 8rem 10%;
    margin: 0;
    margin-bottom: 2rem;
  }
}
.hero__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 2rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .hero__image {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 2rem;
    margin-left: 1rem;
    margin-right: 1rem;
    margin-bottom: 0;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero__image {
    display: grid;
    grid-template-columns: 3fr 7fr;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 4rem;
    width: 100%;
    margin-bottom: 1rem;
    margin-top: 2rem;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .hero__image picture {
    grid-column: 3/6;
    grid-row: 1;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero__image picture {
    grid-column: 2;
    grid-row: 1;
    width: 100%;
  }
}
.hero__image picture img {
  width: 100%;
  height: auto;
  display: block;
}
.hero__lore {
  max-width: 500px;
  display: block;
  -ms-flex-item-align: self-start;
      align-self: self-start;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .hero__lore {
    grid-column: 1/3;
    grid-row: 1;
    align-self: center;
    max-width: 225px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero__lore {
    grid-column: 1;
    grid-row: 1;
    align-self: center;
    max-width: 450px;
    text-align: left;
  }
}
.hero__title {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  line-height: 45px;
  font-size: 50px;
  text-align: left;
  color: rgb(21, 21, 21);
  margin-top: 1.7rem;
  margin-bottom: 1.5rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .hero__title {
    font-size: 50px;
    line-height: 45px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero__title {
    font-size: 55px;
    line-height: 60px;
    width: 100%;
  }
}
.hero__description {
  font-family: "Outfit", sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: rgb(68, 68, 68);
  line-height: 28px;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero__description {
    font-size: 22px;
    line-height: 32px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero__description {
    max-width: 450px;
    font-size: 24px;
  }
}
.hero__design {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 1.5rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .hero__design {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: auto auto;
    gap: 8rem;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin-left: 1rem;
    margin-right: 1rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero__design {
    display: grid;
    grid-template-columns: 1.5fr 1fr;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    margin: 1rem 0;
  }
}
.hero__design-1 {
  width: 100%;
  margin-bottom: 1rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .hero__design-1 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 0;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero__design-1 {
    grid-column: 2/3;
    grid-row: 1/2;
    margin-bottom: 0;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .hero__design-1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero__design-1 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
}
.hero__design-2 {
  width: 100%;
  margin-bottom: 1rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .hero__design-2 {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-bottom: 0;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero__design-2 {
    grid-column: 1/2;
    grid-row: 1/3;
    margin-bottom: 0;
  }
}
@media (max-width: 1024px) and (min-width: 768px) {
  .hero__design-2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero__design-2 img {
    width: 100%;
    height: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    display: block;
  }
}
.hero__design-3 {
  width: 100%;
  background-color: rgb(21, 21, 21);
}
@media (max-width: 1024px) and (min-width: 768px) {
  .hero__design-3 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .hero__design-3 {
    grid-column: 2/3;
    grid-row: 2/3;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__design-3 h3 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  line-height: 45px;
  font-size: 50px;
  text-align: left;
  color: rgb(255, 255, 255);
  padding: 2rem;
}
.hero__design-3 p {
  font-family: "Outfit", sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight: 400;
  color: rgb(255, 255, 255);
  line-height: 28px;
  padding: 0 2rem 2rem 2rem;
  max-width: 350px;
}

.location_main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .location_main {
    margin: 0;
    margin-bottom: 2rem;
  }
}
.location_main .map {
  width: 100%;
  position: relative;
}
.location_main .map .button {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  text-decoration: none;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .location_main .map .button {
    position: absolute;
    top: 0;
    left: 3rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .location_main .map .button {
    position: absolute;
    top: 0;
    left: 7.5rem;
  }
}
.location_main .map .button:hover .button__text {
  background-color: rgb(213, 150, 108);
}
.location_main .map .button:hover .button__icon {
  background-color: rgb(21, 21, 21);
}
.location_main .map .button__text {
  background-color: rgb(21, 21, 21);
  color: rgb(255, 255, 255);
  font-family: "Big Shoulders", sans-serif;
  font-weight: 800;
  font-size: 1.25rem;
  letter-spacing: 3.6px;
  padding: 1.5rem 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .location_main .map .button__text {
    padding: 1rem 1.5rem;
    font-size: 1rem;
    font-weight: 400;
  }
}
.location_main .map .button__icon {
  background-color: rgb(213, 150, 108);
  padding: 0 1.5rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
}
.location_main .map__location {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 18%;
  height: auto;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .location_main .map__location {
    width: 9%;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .location_main .map__location {
    width: 5%;
  }
}
.location_main .map picture {
  display: block;
  width: 100%;
  height: auto;
}
.location_main .map .img {
  width: 100%;
  height: auto;
  display: block;
  min-width: 100%;
}
.location_main .location {
  background-color: rgb(21, 21, 21);
  padding: 5rem 1rem;
  margin-top: 0;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .location_main .location {
    padding: 5rem 2rem;
    gap: 4rem;
    margin-top: 0;
    display: grid;
    grid-template-column: 1fr 3fr;
    grid-template-rows: auto;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .location_main .location {
    padding: 5rem 15%;
    gap: 4rem;
    margin-top: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: auto;
    padding-bottom: 8rem;
  }
}
.location_main .location h2 {
  font-family: "Big Shoulders", sans-serif;
  font-weight: 900;
  line-height: 55px;
  font-size: 50px;
  color: rgb(255, 255, 255);
  margin-bottom: 2.5rem;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .location_main .location h2 {
    font-size: 48px;
    line-height: 45px;
    grid-column: 1/2;
    grid-row: 1;
    max-width: 200px;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .location_main .location h2 {
    font-size: 55px;
    line-height: 60px;
    grid-column: 1/2;
    grid-row: 1;
    max-width: 250px;
  }
}
.location_main .location__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  text-align: left;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .location_main .location__info {
    grid-column: 2/3;
    grid-row: 1;
    padding-left: 2rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .location_main .location__info {
    grid-column: 2/3;
    grid-row: 1;
    padding-left: 10rem;
  }
}
.location_main .location__info h4 {
  font-family: "Big Shoulders", sans-serif;
  text-align: left;
  font-size: 32px;
  font-weight: 900;
  color: rgb(213, 150, 108);
  line-height: 32px;
  margin-bottom: 1.5rem;
}
.location_main .location__info p {
  font-family: "Outfit", sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight: 200;
  color: rgb(255, 255, 255);
  line-height: 28px;
  margin-bottom: 0.2rem;
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .location_main .location__info p {
    font-size: 18px;
    line-height: 1.5rem;
    font-weight: 400;
  }
}
.location_main .location__description {
  margin-top: 1rem;
  font-family: "Outfit", sans-serif;
  text-align: left;
  font-size: 18px;
  font-weight: 200;
  color: rgb(255, 255, 255);
  line-height: 28px;
}
@media (max-width: 1024px) and (min-width: 768px) {
  .location_main .location__description {
    grid-column: 2/3;
    grid-row: 2;
    margin-top: 0;
    padding-right: 2rem;
    padding-left: 2rem;
  }
}
@media (max-width: 1440px) and (min-width: 1025px) {
  .location_main .location__description {
    grid-column: 2/3;
    grid-row: 2;
    margin-top: 0;
    padding-right: 2rem;
    padding-left: 10rem;
    max-width: 630px;
  }
}

html * {
  font-family: "Outfit", sans-serif;
}

body {
  overflow-x: hidden;
}/*# sourceMappingURL=app.css.map */