@use '../abstracts/index' as abs;

.header {
    background-color: abs.$white-color;
    padding: 0rem 0rem;
    display: flex;
    align-items: center;
    width: 100%;
    top: 0;
    z-index: 1000;
    @include abs.breakpoint(tablet) {


    }

    &__container {
        display: flex;
        flex-direction: column;
        @include abs.breakpoint(tablet) {
            display: grid;
            grid-template-columns: repeat(13, 1fr);
            align-items: center;   
            position: relative;         position: relative;
        }
        picture {
            @include abs.breakpoint(tablet) {
                grid-column: 1 / 9;
                grid-row: 1;
                z-index: 1;                                                                                                                                                                                         
            }
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }
    }

    &__info {
        margin-top: 2rem;
        margin-left: 1rem;
        margin-right: 1rem;
        display: flex;
        flex-direction: column;
        @include abs.breakpoint(tablet) {
            grid-row: 1;
            margin-top: 0;
            margin-left: 0;
            grid-column: 8 / 14;
            z-index: 2;
            padding-left: 1.5rem;
            padding-bottom: 1rem;
        }
        

        .logo {
            display: block;
            width: fit-content;
            img{
                filter: invert(100%);
                width: 15.4rem;
                height: auto;
                @include abs.breakpoint(tablet) {
                    width: 20rem;
                }
            }
        }

        p {
            font-family: abs.$outfit-font;
            font-size: 18px;
            color: abs.$p-color;
            line-height: 28px;
            margin-top: 1.8rem;
            max-width: 350px;
            @include abs.breakpoint(tablet) {
                font-size: 18px;
                line-height: 28px;
                font-weight: 400;
                margin-top: 4rem;
            }
            
        }
 
    }     

    &__button {
        display: inline-flex; // Une los dos bloques lateralmente
        align-items: stretch; // Hace que ambos midan lo mismo de alto
        text-decoration: none;
        width: fit-content;
        transition: all 0.3s ease;
        margin-top: 1.8rem;
        @include abs.breakpoint(tablet) {
            margin-top: 4rem;
        }

        &-text {
            background-color: abs.$black-color;
            color: abs.$white-color;
            font-family: abs.$outfit-font;
            font-weight: 800;
            font-size: 1.25rem;
            letter-spacing: 3.6px;
            padding: 1.5rem 2rem;
            display: flex;
            align-items: center;
            transition: background-color 0.3s ease;
        }

        &-icon {
            background-color: abs.$gold-color; 
            padding: 0 1.5rem;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: background-color 0.3s ease;

            img {
                width: 10px;
                height: auto;
                transition: filter 0.7s ease;
                filter: brightness(0) invert(1);
            }
        }

        // Efecto Hover
        &:hover {
            .header__button-text {
                background-color: abs.$gold-color;
            }
            .header__button-icon {
                background-color: abs.$black-color;

            }
        }
    }
}

