@use '../abstracts/index' as abs;

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8rem 1rem;
    @include abs.breakpoint(desktop) {
        padding: 8rem 10%;
        margin: 0;
        margin-bottom: 2rem;
    }

    &__image {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
        @include abs.breakpoint(tablet) {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-items: center;
            gap: 2rem;
            margin-left: 1rem;
            margin-right: 1rem;
            margin-bottom: 0;
        }
        @include abs.breakpoint(desktop) {
            display: grid;
            grid-template-columns: 3fr 7fr;
            align-items: center;
            gap: 4rem;
            width: 100%;
            margin-bottom: 1rem;
            margin-top: 2rem;

        }
        picture {
            @include abs.breakpoint(tablet) {
                grid-column: 3 / 6;
                grid-row: 1;
            }
            @include abs.breakpoint(desktop) {
                grid-column: 2;
                grid-row: 1;
                width: 100%;
            }
            img {
                width: 100%;
                height: auto;
                display: block;
            }
        }

    }
    &__lore {
        max-width: 500px;
        display: block;
        align-self: self-start;
        @include abs.breakpoint(tablet){
            grid-column: 1 / 3;
            grid-row: 1;
            align-self: center;
            max-width: 225px;
        }
        @include abs.breakpoint(desktop){
            grid-column: 1;
            grid-row: 1;
            align-self: center;
            max-width: 450px;
            text-align: left;
        }

    }

    &__title {
        font-family: abs.$bigshoulders-font;
        font-weight: 900;
        line-height: 45px;
        font-size: 50px;
        text-align: left;
        color: abs.$black-color;
        margin-top: 1.7rem;
        margin-bottom: 1.5rem;
        @include abs.breakpoint(tablet) {
            font-size: 50px;
            line-height: 45px;

        }
        @include abs.breakpoint(desktop) {
            font-size: 55px;
            line-height: 60px;
            width: 100%;
        }
        
    }
    &__description {
        font-family: abs.$outfit-font;
        text-align: left;
        font-size: 18px;
        font-weight: 400;
        color: abs.$p-color;
        line-height: 28px;
        @include abs.breakpoint(desktop) {
            font-size: 22px;
            line-height: 32px;
        }
        @include abs.breakpoint(desktop) {
            max-width: 450px;
            font-size: 24px;
        }

        
    }
    &__design {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 1.5rem;
        @include abs.breakpoint(tablet) {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            grid-template-rows: auto auto;
            gap: 8rem;
            align-items: stretch;;
            margin-left: 1rem;
            margin-right: 1rem;
        }
        @include abs.breakpoint(desktop) {
            display: grid;
            grid-template-columns: 1.5fr 1fr;
            grid-template-rows: repeat(2, 1fr);
            gap: 2rem;
            align-items: stretch;
            margin: 1rem 0;
        }
        &-1 {
            width: 100%;
            margin-bottom: 1rem;
            @include abs.breakpoint(tablet) {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                margin-bottom: 0;
            }
            @include abs.breakpoint(desktop) {
                grid-column: 2 / 3;
                grid-row: 1 / 2;
                margin-bottom: 0;
            }
            img {
                @include abs.breakpoint(tablet) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block; 
                }
                @include abs.breakpoint(desktop) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block; 
                }
            }
        }
        &-2 {
            width: 100%;
            margin-bottom: 1rem;
            @include abs.breakpoint(tablet) {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
                margin-bottom: 0;
            }
            @include abs.breakpoint(desktop) {
                grid-column: 1 / 2;
                grid-row: 1 / 3;
                margin-bottom: 0;
            }
            img {
                @include abs.breakpoint(tablet) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block; 
                }
                @include abs.breakpoint(desktop) {
                    width: 100%;
                    height: 100%;
                    object-fit: cover;
                    display: block; 
                }

            }
        }
        &-3 {
            width: 100%;
            background-color: abs.$black-color;
            @include abs.breakpoint(tablet) {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            @include abs.breakpoint(desktop) {
                grid-column: 2 / 3;
                grid-row: 2 / 3;
                display: flex;
                flex-direction: column;
                justify-content: center;
            }
            h3{
                font-family: abs.$bigshoulders-font;
                font-weight: 900;
                line-height: 45px;
                font-size: 50px;
                text-align: left;
                color: abs.$white-color;
                padding: 2rem;
            }
            p{
                font-family: abs.$outfit-font;
                text-align: left;
                font-size: 18px;
                font-weight: 400;
                color: abs.$white-color;
                line-height: 28px;
                padding: 0 2rem 2rem 2rem;
                max-width: 350px;
            }
        }
    }
}    



// Location //
.location_main {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: 0;
    padding: 0;
    @include abs.breakpoint(tablet) {
        margin: 0;
        margin-bottom: 2rem;
    }
    .map {
        width: 100%;
        position: relative;
        .button {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            display: inline-flex; 
            align-items: stretch; 
            text-decoration: none;
            width: fit-content;
            transition: all 0.3s ease;
            @include abs.breakpoint(tablet) {
                position: absolute;
                top: 0;
                left: 3rem;
            }
            @include abs.breakpoint(desktop) {
                position: absolute;
                top: 0;
                left: 7.5rem;
            }
            &:hover {
                .button__text {
                    background-color: abs.$gold-color;
                }
                .button__icon {
                    background-color: abs.$black-color;
                }
            }

            &__text {
                background-color: abs.$black-color;
                color: abs.$white-color;
                font-family: abs.$bigshoulders-font;
                font-weight: 800;
                font-size: 1.25rem;
                letter-spacing: 3.6px;
                padding: 1.5rem 2rem;
                display: flex;
                align-items: center;
                transition: background-color 0.3s ease;
                @include abs.breakpoint(desktop) {
                    padding: 1rem 1.5rem;
                    font-size: 1rem;
                    font-weight: 400;

                }
            }
            &__icon {
                background-color: abs.$gold-color; 
                padding: 0 1.5rem;
                display: flex;
                align-items: center;
                justify-content: center;
                transition: background-color 0.3s ease;
            }
        }
        &__location {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 18%;
            height: auto;
            @include abs.breakpoint(tablet) {
                width: 9%;
            }
            @include abs.breakpoint(desktop) {
                width: 5%;
            }
        }

        picture{
            display: block;
            width: 100%;
            height: auto;
        }
        .img{
            width: 100%;
            height: auto;
            display: block;
            min-width: 100%;
        }
    }
    .location {
        background-color: abs.$black-color;
        padding: 5rem 1rem;
        margin-top: 0;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: left;
        @include abs.breakpoint(tablet) {
            padding: 5rem 2rem;
            gap: 4rem;
            margin-top: 0;
            display: grid;
            grid-template-column: 1fr 3fr;
            grid-template-rows: auto;
        }
        @include abs.breakpoint(desktop) {
            padding: 5rem 15%;
            gap: 4rem;
            margin-top: 0;
            display: grid;
            grid-template-columns: 1fr 3fr;
            grid-template-rows: auto;
            padding-bottom: 8rem;
        }
        h2{
            font-family: abs.$bigshoulders-font;
            font-weight: 900;
            line-height: 55px;
            font-size: 50px;
            color: abs.$white-color;
            margin-bottom: 2.5rem;
            @include abs.breakpoint(tablet) {
                font-size: 48px;
                line-height: 45px;
                grid-column: 1 / 2;
                grid-row: 1;
                max-width: 200px;
            }

            @include abs.breakpoint(desktop) {
                font-size: 55px;
                line-height: 60px;
                grid-column: 1 / 2;
                grid-row: 1;
                max-width: 250px;
            }
        }
        &__info{
            display: flex;
            flex-direction: column;
            align-items: left;
            text-align: left;
            @include abs.breakpoint(tablet) {
                grid-column: 2 / 3;
                grid-row: 1;
                padding-left: 2rem;
            }
            @include abs.breakpoint(desktop) {
                grid-column: 2 / 3;
                grid-row: 1;
                padding-left: 10rem;
            }
            
            h4 {
                font-family: abs.$bigshoulders-font;
                text-align: left;
                font-size: 32px;
                font-weight: 900;
                color: abs.$gold-color;
                line-height: 32px;
                margin-bottom: 1.5rem;
            }
            p {
                font-family: abs.$outfit-font;
                text-align: left;
                font-size: 18px;
                font-weight: 200;
                color: abs.$white-color;
                line-height: 28px;
                margin-bottom: 0.2rem;
                @include abs.breakpoint(desktop) {
                    font-size: 18px;
                    line-height: 1.5rem;
                    font-weight: 400;
                }
            }
        }
        &__description {
            margin-top: 1rem;
            font-family: abs.$outfit-font;
            text-align: left;
            font-size: 18px;
            font-weight: 200;
            color: abs.$white-color;
            line-height: 28px;
            @include abs.breakpoint(tablet) {
                grid-column: 2 / 3;
                grid-row: 2;
                margin-top: 0;
                padding-right: 2rem;
                padding-left: 2rem;
            }
            @include abs.breakpoint(desktop) {
                grid-column: 2 / 3;
                grid-row: 2;
                margin-top: 0;
                padding-right: 2rem;
                padding-left: 10rem;
                max-width: 630px;
            }
        }
    }
}