@use '../abstracts/index' as abs;

.hero {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 8rem 1rem;

    &__image {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;

    }
    &__lore {
        max-width: 400px;
        display: block;
        align-self: self-start;
    }

    &__title {
        font-family: abs.$bigshoulders-font;
        font-weight: 900;
        line-height: 45px;
        font-size: 50px;
        text-align: left;
        color: abs.$black-color;
        margin-top: 1.7rem;
        margin-bottom: 1.5rem;
        
    }
    &__description {
        font-family: abs.$outfit-font;
        text-align: left;
        font-size: 18px;
        font-weight: 400;
        color: abs.$p-color;
        line-height: 28px;
        
    }
    &__design {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: 2rem;
        &-1 {
            width: 100%;
            margin-bottom: 1rem;
        }
        &-2 {
            width: 100%;
            margin-bottom: 1rem;
        }
        &-3 {
            width: 100%;
            background-color: abs.$black-color;
            h3{
                font-family: abs.$bigshoulders-font;
                font-weight: 900;
                line-height: 45px;
                font-size: 50px;
                text-align: left;
                color: abs.$white-color;
                padding: 2rem;
            }
            p{
                font-family: abs.$outfit-font;
                text-align: left;
                font-size: 18px;
                font-weight: 400;
                color: abs.$white-color;
                line-height: 28px;
                padding: 0 2rem 2rem 2rem;
                max-width: 350px;
            }
        }
    }
}    